
body {

    background-color: rgb(240, 235, 211);
    font-family: Arial, Helvetica, sans-serif;

}

.main-logo{
  color: dodgerblue;
}

ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 10;
  

}

li {
 display: ;
 color: rgb(14, 13, 13);
 /* padding: 6px ; */
}
/* a{
  display: ;
} */

#container{
     display: flex; 
    
}



img{
    width: 50%;
}



